@import "../src/Assets/styles/header.css";
@import "../src/Assets/styles/hero.css";
@import "../src/Assets/styles/about.css";
@import "../src/Assets/styles/card-img.css";
@import "../src/Assets/styles/Icon-text-circle.css";
@import "../src/Assets/styles/footer.css";
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
a{
	text-decoration: none;
	cursor: pointer;
}
.container{
	width: 90%;
	margin: 0 auto;
}
button{
	cursor: pointer;
	border: none;
}
body{
	background: rgba(48, 44, 66, 1);

}
